@import '../index.scss';
@import 'test-config.scss';
@include init;

@function root-ems($size) {
    @return px-to-ems($size, 16px);
}

html {
    font-family: "Asap";
    background-color: color('bg', 'dark');
    @include interpolate('font-size',
        $min-screen: ems(600px),
        $min-value: ems(12px),
        $max-screen: ems(1200px),
        $max-value: ems(28px),
        $easing: 'ease-in'
    );
    line-height: ($base-line-height/$base-font-size);
    color: color('type');
}

body {
    min-height: 100vh;
}

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    font-size: inherit;
    line-height: inherit;
    box-sizing: border-box;
}

.wrap {
    max-width: $max-site-width;
    width: 95%;
    margin: 0 auto;
    background-color: color('bg');
    padding: type-space(1 2);
}

hr {
    border: 0;
    height: 0px;
    outline: 1px solid currentColor;
    margin: type-space(1 0);
}

@include headings(1, 6) {
    font-family: $primary-font-stack;
}

h1 {
    font-size: rems($type-h1-size);
    line-height: $type-h1-lh;
    color: color('type', light);
}

h2 {
    @include fs($type-h2-size, true);
}

h3 {
    @include fs($type-h3-size, true);
}

h4 {
    @include fs($type-h4-size, true);
}

h5 {
    @include fs($type-h5-size, true);
}

h6 {
    @include fs($type-h6-size, false);
    line-height: $h6-lh;
}

.web-font {
    font-family: 'Asap';
}

.grid_item {
    outline: 1px solid black;
}

.grid-type:before {
    content: "#{if($grid-bem-naming, 'BEM-style grid', 'Snake-style Grid')}";
    @include fs($type-small-size);
}

$type-baseline-size: strip-units($base-line-height);

.baseline-on {
    background-image: url(http://basehold.it/i/#{$type-baseline-size});
    background: linear-gradient(to top, rgba(0, 0, 0, .15) 1px, transparent 1px, rgba(black, .15) 1px, transparent 1px) top left / auto (($type-p-lh / 2) * 1rem);
}

// .align-top {
//     align-items: flex-start;
// }

.box {
    align-self: flex-start;
    border: 1px solid rgba(color('type'), .5);
    margin-right: -1px;

    > * {
        border: 1px solid;
    }
}

@include web-fonts;
@include grid-init;
@include spacing-utilities-init;
@include display-utilities-init;
